[submodule "deps/stb"]
    path = deps/stb
    url = https://github.com/colbyhall/odin-stb

[submodule "deps/dxc"]
    path = deps/dxc
    url = https://github.com/colbyhall/odin-dxc

[submodule "deps/spv"]
    path = deps/spv
    url = https://github.com/colbyhall/odin-spv.git